<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Student</title>
    <link href="/static/style.css" rel="stylesheet" />
</head>
<body>
<div class='signup-container'>
    <div class='left-container'>
        <h1>
            <i class='fas fa-paw'></i>
            PUPASSURE
        </h1>
        <div class='puppy'>

        </div>
        <div class="widget">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/companies">Company</a></li>
                <li><a href="/courses">Course</a></li>
                <li><a href="/teachers">Teacher</a></li>
                <li><a href="/students">Student</a></li>
                <li><a href="/groups">Group</a></li>
            </ul>
        </div>
    </div>
    <div class='right-container'>
        <header>
            <h1>Yay, puppies! Ensure your pup gets the best care!</h1>
            <div class='set'>
                <form th:action="@{/students/{id}(id=${updateStudent.id})}"
                      th:method="patch"
                      th:object="${updateStudent}">
                    <div class='set'>
                        <div class='pets-name'>
                            <label for='pets-name'>Student's</label>
                            <input id='pets-name' th:field="*{studentName}" placeholder="name" type='text'>
                        </div>
                        <div class='pets-breed' style="margin-left: 30px">
                            <label for='pets-breed' >Student Sur-Name </label>
                            <input id='pets-breed' th:field="*{studentSurName}" placeholder="name" type='text'>
                        </div>
                    </div>
                    <div class='set'>
                        <div class='pets-birthday'>
                            <label for='pets-birthday'>Student Age </label>
                            <input id='pets-birthday' th:field="*{studentAge}" placeholder='Age' type='text'>
                        </div>
                        <div class='pets-birthday' style="margin-left: 30px">
                            <label for='pets-birthday'>Student Phone</label>
                            <input th:field="*{studentPhoneNumber}" placeholder='Phone' type='text'>
                        </div>
                    </div>
                    <input id='next' type="submit" value="update">
                </form>

            </div>
        </header>
        <footer>
            <div class='set'>

            </div>
        </footer>
    </div>
</div>
</body>
</html>